<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav th:fragment="navbar" class="bg-slate-800">

    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="#6366F1">
                        <path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd" />
                        <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z" />
                    </svg>
                    <a href="/" class="font-extrabold text-white">jobtracker</a>
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">

                            <div  sec:authorize="hasAuthority('ADMIN')">
                                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                                <a th:replace="fragments/navbarLink.html :: nbLink('jobs/', 'Jobs')"></a>
                                <a th:replace="fragments/navbarLink.html :: nbLink('employees/', 'Employees')"></a>
                                <a th:replace="fragments/navbarLink.html :: nbLink('priorities/', 'Priority Levels')"></a>
                                <a th:replace="fragments/navbarLink.html :: nbLink('types/', 'Project Types')"></a>
                            </div>
                            <div sec:authorize="hasRole('EMPLOYEE')"></div>

                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <!-- Profile dropdown -->
                <div class="ml-3 relative">
                    <div>
                        <button  onclick="toggleNavbarProfileMenu()" type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                        </button>
                    </div>
                    <div id="navbarProfileMenu" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                        <a href="/logout" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Login</a>
            </div>
        </div>
    </div>

</nav>
</html>